let mapleader = ","   " leader is comma
let localleader = "," " leader is comma

set tabstop=4       " number of visual spaces per TAB
set softtabstop=4   " number of spaces in tab when editing
set shiftwidth=4    " spaces in newline start
set expandtab       " tabs are spaces
set number              " show line numbers
set rnu                 " show relative line numbers
set showcmd             " show command in bottom bar
set cursorline          " highlight current line
set surround            " use surround shortcuts
set mini-ai
"set textobj-entire "textobj-entire
"set argtextobj "argtextobj
"set functiontextobj "functiontextobj 需要額外安裝這個外掛
set peekaboo
set anyobject
set dial

let g:dial_include = "basic,numbers,dates,java,python:async,markdown:task_item"
" Map Ctrl+A to increment
nnoremap <C-a> :DialIncrement<cr>

" Map Ctrl+X to decrement  
nnoremap <C-x> :DialDecrement<cr>




"1.8新增功能快速移動到 html tag 頭尾
set matchit

"交換單字或是行
set exchange

set commentary "vim-commentary
filetype indent on      " load filetype-specific indent files
set wildmenu            " visual autocomplete for command menu
set showmatch           " highlight matching [{()}]
set timeoutlen=500      " timeout for key combinations

set so=5                " lines to cursor
set backspace=2         " make backspace work like most other apps
set incsearch           " search as characters are entered
set hlsearch            " highlight matches
set ignorecase          " do case insensitive matching
set smartcase           " do smart case matching
set hidden

set fillchars+=stl:\ ,stlnc:\
set laststatus=2
set clipboard=unnamedplus  "X clipboard as unnamed
set NERDTree

"press kj to exit insert mode
"imap kj <Esc>
"vmap kj <Esc>
imap ,, <Esc>
vmap ,, <Esc>
noremap ,, <Esc>

"reload
map ,so :source ~/.ideavimrc<CR>

"@see https://youtrack.jetbrains.com/issue/VIM-510 on expand selected region. Press `Ctrl-W` and `Ctrl-Shift-W` to increase and decrease selected region

noremap ,xm :action SearchEverywhere<CR>
noremap ,ci :action CommentByLineComment<CR>
noremap ,xs :action SaveAll<CR>
noremap ,aa :action $Copy<CR>
noremap ,zz :action $Paste<CR>
noremap ,yy :action PasteMultiple<CR>
noremap ,qq :action FindInPath<CR>
noremap ,ss :action Find<CR>
noremap ,fp :action CopyPaths<CR>
noremap ,xk :action CloseEditor<CR>
noremap ,rr :action RecentFiles<CR>
noremap ,kk :action GotoFile<CR>
noremap ,ii :action GotoSymbol<CR>
noremap <C-]> :action GotoImplementation<CR>
noremap ,xz :action ActivateTerminalToolWindow<CR>



" ideavim don't support numberic character in hotkey in 0.55
" it's fixed in 0.55.1
noremap ,x1 <C-W>o
noremap ,x2 :split<CR>
noremap ,x3 :vsplit<CR>
noremap ,x0 :q<CR>
" move window
noremap ,wh <C-W>h
noremap ,wl <C-W>l
noremap ,wj <C-W>j
noremap ,wk <C-W>k
noremap ,xx :action EditorSelectWord<CR>

noremap ,ff :action ToggleDistractionFreeMode<CR>

"設定 intellisense 選單用 alt+j & alt+k
imap <M-j> <ESC>:action HippieCompletion<CR>a
imap <M-k> <ESC>:action HippieBackwardCompletion<CR>a

"頭尾移動
nmap zl $
imap zl <End>

nmap zh ^
imap zh <Esc>^i

"如果 js, c# 用分號
"nmap z; $a;<Esc>
"imap z; <Esc>$a;

"如果 python 用冒號
"nmap z; $a:<Esc>
"imap z; <Esc>$a:

" 根據 IDE 名稱做不同設定
if &ide =~? 'DataGrip'
  " DataGrip插入分號
  nmap z; $a;<Esc>
  imap z; <Esc>$a;
elseif &ide =~? 'Pycharm'
  " PyCharm: z; 插入冒號
  nmap z; $a:<Esc>
  imap z; <Esc>$a:
else
  " fallback: 預設為分號（可改成你想要的）
  nmap z; $a;<Esc>
  imap z; <Esc>$a;
endif


nmap z, $a,<Esc>
imap z, <Esc>$a,

"包裹
vmap ,sr :action SurroundWith<CR>
vmap ,dsr :action Unwrap<CR>

"ace jump
nmap <space> :action AceAction<CR>

"設定跳到錯誤
nmap zn :action GotoNextError<CR>
imap zn <Esc>:action GotoNextError<CR>i
